body {
    background-color: #FFFFFF;
    margin: 60px;
    overflow: scroll;
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}

a {
    color: #0078ff;
}

#info {
    color: #ffffff;
    position: absolute;
    top: 10px;
    width: 100%;
}

#warning {
    color: #ff0000;
}