body {
    background: rgb(201, 201, 201);
    margin: 0px;
}
header {
    background: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    text-align: center;
}

section.flexLayoutClass {
    display: flex;
    flex-direction: column;
}

canvas.chartCanvasClass {
    background: rgb(255, 255, 255);
    /*width: 100%;*/
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
    /* display: block; */
    /*box-sizing: border-box; */
}

section.controls {
    display: flex;
}
section.controls div.slider_container {
    width: 70%;
    border: 1px solid rgb(0, 0, 0);
    /*display: flex;*/
    /*flex-direction: column;*/
    display: inline-block;
}

section.controls canvas.antennaClass {
    background: white;
    width: 30%;
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
    /*display: block;*/
    /*box-sizing: border-box;*/
}

section.controls div.sliders {
    background:rgb(255, 255, 255);
    font-size: small;
}

section.controls div label {
    background:white;
    display: inline-block;
    width: 12%;
    font-size: small;
    text-align: right;
}

section.controls div input {
    background:lightsalmon;
    display: inline-block;
    width: 75%;
}

footer {
    background: white;
}
